@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color: #03a9f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #03a9f4;
    mix-blend-mode: overlay; */
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transform: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translate(-15px);
}

.logo a {
    text-decoration: none;
    color:white;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover{
    color: var(--overlay-color);
}   

@media(max-width: 1744px) {


    .container {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
}


@media(max-width: 1464px) {
    #section-one.music {
        padding: 15px;
    }

}

@media(max-width: 799px) {
    .datetime{
        width: 90%;
        height: 40%;
        padding: 1px 10px !important;

    }
}



@media(max-width: 842px) {



    .datetime{
        width: 90%;
        height: 40%;
        padding: 15px 10px;

    }
    
    .date {
        font-size: 14px !important;
    }
    
    .time {
        font-size: 20px !important;    
    }
    
    .time span:not(:last-child){
        position: relative;
        margin: 0 3px !important;
        font-weight: 500;
        text-align: center;
        letter-spacing: 2px;
    }
    
    .time span:last-child {
        margin-top: 0px !important;
        padding: 0 5px;
    }
    

    

    .time span:last-child {
        font-size: 13px !important;
        font-weight: 500;
    }
}

@media(max-width: 798px) {
    .showcase, 
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em
    }

    #section-two > div > div > h2 {
        font-size: 1em;
    }

    #section-two > div > div > p {
        font-size: 1em;
    }

    #section-three > div > div > h2 {
        font-size: 1em;
    }

    #section-three > div > div > p {
        font-size: 1em;
    }

    #section-four > div > div > h2 {
        font-size: 1em;
    }

    #section-four > div > div > p {
        font-size: 1em;
    }

    /* music box */
    

    #section-one {
        padding: 50px;
    }
    
    #section-one > div > div.image > img{

        width: 90px;
        height: 65px;
    }
    
    #section-one > div.box > div > audio {
        width: 90px;
    }

        /* music */
    #section-one.music {
        padding: 15px;
    }

    #section-one > div.box > div > img{
        width: 90px;
        height: 65px;
    }
    
    #section-one > div.box > div > audio {
        width: 90px;
    }

    #section-one > div.box {
        width: 90px;
        height: 120px;
    }

    #section-one > div.box > div > audio {
        width: 90px;
    }

    #section-one > div.quote > h3 {
        margin-bottom: 10px;
        font-size: 1em;
    }

    #section-one > div.quote > p {
        font-size: 0.9em;
        width: 150px;
    }
    #section-one > div.quote {
        margin-top: 25px;
    }
}

@media(max-width: 600px) {
    
    #section-two > div > div > h2 {
        font-size: 0.7em;
    }

    #section-two > div > div > p {
        font-size: 0.7em;
    }

    #section-three > div > div > h2 {
        font-size: 0.7em;
    }

    #section-three > div > div > p {
        font-size: 0.7em;
    }

    #section-four > div > div > h2 {
        font-size: 0.7em;
    }

    #section-four > div > div > p {
        font-size: 0.7em;
    }

    #section-one {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        
    }

    .datetime{
        width: 275px;
        height: 73px;
        padding-top: 10px !important;
        

    }
    
    .date {
        font-size: 14px !important;
    }
    
    .time {
        font-size: 20px !important;    
    }
    
    .time span:not(:last-child){
        position: relative;
        margin: 0 3px !important;
        font-weight: 500;
        text-align: center;
        letter-spacing: 2px;
    }
    
    .time span:last-child {
        margin-top: 0px !important;
        padding: 0 5px;
    }

    #section-one > div.quote.fade-in.appear > p {
        max-width: fit-content;
    }
    

    

    .time span:last-child {
        font-size: 13px !important;
        font-weight: 500;
    }

            /* music */
            #section-one.music {
                padding: 15px;
            }
        
            #section-one > div.box > div > img{
                width: 90px;
                height: 65px;
            }
            
            #section-one > div.box > div > audio {
                width: 90px;
            }
        
            #section-one > div.box {
                width: 400px;
                height: 90px;
            }
        
            #section-one > div.box > div > audio {
                width: 380px;
            }
        
            #section-one > div.quote > h3 {
                margin-bottom: 10px;
                font-size: 1em;
            }


}


/* music box */
#section-one {
    background-color: #445764;
    position: relative;
    right: 0;
    width: 100%;
    min-height: 25vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
}

.box {
    height: 13rem;
    width: 180px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f4;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem #00000059;
    overflow: hidden;
    margin: 2rem;
}

#section-one > div > div.image > img{
    position: relative;
    max-width: 180px;
    max-height: 130px;
}

#section-one > div.box > div > audio {
    max-width: 180px;
}


/* Time */

#section-one > div.datetime {
    align-items: center;
}

.datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    max-width: 1000%;
    max-height: 50%;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    border-radius: 5px;
}

.datetime:hover {
    background: #2e94e3;
}

.date {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}

.time span:last-child {
    background: #2e94e3;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3px;
    padding: 0 5px;
    border-radius: 3px;
}

.flex {
    display: flex;
    align-items: center;
}

#section-one {
    display: flex;
    align-content: center;
}
/* This box will fade in */
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}


.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}


/* quote */

#section-one > div.quote > h3 {
    margin-bottom: 30px;
    color: white;
}

.quote {
    max-width: 200px;
    margin-top: 50px;
    color: white;
}


/* About me */

/* .about-me {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    color: #111;
    z-index: 2;
    transition: 0.5s;
}

.about-me {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  img {
    max-width: 100%;
    height: auto;
  } */


  #section-two > div > div > p > a{
     text-decoration: none;
  }

  #section-two a:hover, #section-twoa:active {
    color: #111;
  }

  #section-two a:visited, #section-two a:link {
    color: #a19f9f;
  }

  #section-two{
    color: #fff;
    background-color: #36454F;
    overflow: hidden;
  }

  #section-three {
    color: #fff;
    background-color: #707062;
    overflow: hidden;
  }
  #section-four {
    color: #fff;
    background-color: #232B2B;
    overflow: hidden;
  }


  .about-me, .about-me2, .about-me3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #111;
    padding: 50px;
    text-align: left;
    
  }

  #section-two > div > div > p{
    max-width: 600px;
  }

  #section-three > div > div > p  {
    max-width: 600px;
  }
  #section-four > div > div > p{
    max-width: 600px;
  }



  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin: 50px 0;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
  }


  #section-three > div > div.left {
    display: flex;
    justify-content: flex-end;
  }

  /* resume page style */

  .container{
    padding: 20px 0px;
  }
  .name {
    text-align: center;
    padding-top: 100px;
  }
  .info {
    text-align: center;
    padding: 10px 0;
  }

  .line-break {
    margin: 0 5%;
  }

  .edu {
    margin: 0 5%;
  }

  .edu_item {
    padding-left: 6%;
  }
  .toptitle {
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
  }

  .titlebar {
    display: flex;
  }

  .item_title {
    margin-right: 10px;
  }

  .title {
    margin: 20px 20px;
    color: #73ad48;
  }

  .bullet {
    padding-left: 10%;
    padding-top: 10px;
  }

  .item_titlejr {
    font-weight: 500;
  }
 
  .container {
    padding-right: 20%;
    padding-left: 20%;
  }


  .exp {
    margin: 0 5%;
  }

  .cam {
    margin: 0 5%;
  }

  .ski {
    margin: 0 5%;
  }

  #resume > div > div.downloadbtm > a {
    display: inline-block;
    font-size: 1em;
    background: #111;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
#resume > div > div.downloadbtm > a:hover {
letter-spacing: 6px;
}

#section-two > div > div > a {
    display: inline-block;
    font-size: 1em;
    background: #111;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

#section-two > div > div > a:visited {
    color: #fff;
}

#section-two > div > div > a:hover {
    letter-spacing: 6px;
}

#section-four > div > div > a {
    display: inline-block;
    font-size: 1em;
    background: #111;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

#section-four > div > div > a:hover{
    letter-spacing: 6px;
}


/* Contact Page Style */


#contactS {
    width: 100%;
    height: 100vh;
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container1:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("outdoor.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter:blur(50px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left1{
    height: 100%;
    background: url("outdoor.jpg") no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;

}

#contactS > div > div > div.right > h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#contactS > div > div > div.right > h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #2ecc71;
}

.field  {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

#contactS > div > div > div.right > form > h2 {
    padding-bottom: 10px ;
}

.btn1 {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn1:hover {
    background-color: #27ae60;

}

@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left1{
        height: 200px;
    }
}

#section-two > div > img{
    height: 100%; 
    width: 500px;
}
#section-three > div > div.left > img{
    height: 100%; 
    width: 500px;
}
#section-four > div > img{
    height: 100%; 
    width: 500px;
}


